<div class="burger-dropdown">
    <button class="burger-button" id="burgerBtn" aria-label="Open menu">
        <img src="../../assets/images/icons/burger-menu.svg" alt="Menu" class="w-8 h-8">
    </button>

    <div class="burger-menu" id="burgerMenu">
        <div class="mb-1">
            <a href="badges.html" class="header-font font-semibold">Badge</a>
        </div>
        <div class="mb-1">
            <a href="profile.html" class="header-font font-semibold">Personal</a>
        </div>
        <div>
            <a href="../dashboard/library.html" class="header-font font-semibold">Library</a>
        </div>
        <div>
            <a href="../dashboard/library.html" class="header-font font-semibold">Logout</a>
        </div>
    </div>
</div>